In [5]:
mylist = [('MSBA', 10), ('MSIST', 6)]
dic = dict(mylist)
dic

{'MSBA': 10, 'MSIST': 6}

In [ ]:
dic = dict(d1)
dic["MSBA"] = 15
dic

In [3]:
def upperclass(a):
    return a.upper()

mynames = ['tom', 'dick', 'harry']
x = [upperclass(person) for person in mynames if len(person) < 4]
print(x)

['TOM']

In [6]:
a = [1,2,3,4,5]
b = [22,31,40,51]
x=[(c,d) for c in a for d in b if c > 4 and d%2==0]
print(x)

[(5, 22), (5, 40)]

In [ ]:
a = [[1,2],[3,4], [5,6]]
x = x^2

In [11]:
# Example 1
# How to access an existing table in a database
# This assumes that you have the Student database in the classwork database
import pymysql as myDB

In [13]:
conn = myDB.connect('localhost', 'root', 'root') 
cursor = conn.cursor()

OperationalError: (2003, "Can't connect to MySQL server on 'localhost' ([WinError 10061] No connection could be made because the target machine actively refused it)")